<!DOCTYPE html>
<html>
    <head>

        <title> Mercado Liebre Flex-Box</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 

        <script src="https://kit.fontawesome.com/2752ae1859.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/css/styles.css">

    </head>

    <body>
        
        <main style="width: 100%;">

                <form class="login" action="/login" method="POST">
                    <div class="registro-header">    
                        <h2 style="text-align: center">Logging</h2>
                        <p style="text-align: center; font-size: small"><a href="/">Volver a Home</a></p>
                    </div>
    
                    <input class="input" type="text" name="username" id="usename" required placeholder="Nombre de Usuario" autofocus minlength="5">
                    <input class="input" type="password" name="contrasena" id="contrasena" required placeholder="Ingresá tu Contraseña" minlength="8">
       
                    <div class="rowflex">
                        <button class="btn-submit" type="submit">Cerrar</button>
                        <button class="btn-submit" type="submit">Enviar</button>
                    </div>        
                </form>

        </main>
        
    </body>    