<!DOCTYPE html>
<html>
    <head>

        <title> Mercado Liebre Flex-Box</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 

        <script src="https://kit.fontawesome.com/2752ae1859.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/css/styles.css">

    </head>

    <body>
        <header></header>
        
        <main style="border: 1px solid red">

            <form class="registro" action="/registro" method="POST">

                <div class="registro-header">    
                    <h2 style="text-align: center">Registro</h2>
                    <p style="text-align: center; font-size: small"><a href="/">Volver a Home</a></p>
                </div>

                <input class="input" type="text" name="nomyapel" id="nomyapel" required placeholder="Nombre y apellido" autofocus minlength="5">
                <input class="input" type="text" name="nomusuario" id="nomusuario" required placeholder="Nombre de usuari@" minlength="5">
                <input class="input" type="date" name="fechanac" id="fechanac" required placeholder="Fecha de nacimiento">
                <input class="input" type="text" name="domicilio" id="domicilio" placeholder="Domicilio" minlength="15">

                <div class="div-items">
                    <p class="barra-titulo">
                        <label>Seleccioná tu Perfil</label>
                        <select name="perfil">
                            <option value="comprar">Comprar</option>
                            <option value="vender">Vender</option>
                        </select>
                    </p>
                </div>
                <br>
     
                <label>Categorías de Interés</label>
                <div class="rowflex">
                    <label for="electro">Electro</label>
                    <input type="checkbox" name="interes" value="electro" id="electro">
                    <label for="moda">Moda</label>
                    <input type="checkbox" name="interes" value="moda" id="moda">
                    <label for="hogar">Hogar</label>
                    <input type="checkbox" name="interes" value="hogar" id="hogar">
                    <label for="jugueteria">Juguetería</label>
                    <input type="checkbox" name="interes" value="jugueteria" id="jugueteria">
                    <label for="vidasana">Vida Sana</label>
                    <input type="checkbox" name="interes" value="vidasana" id="vidasana">
                </div>
                <br>

                <label>Subí tu foto</label>
                <div>
                    <input class="input" type="file" name="foto" accept=".jpg">
                </div>
                
                <input class="input" type="password" name="pass" id="pass" required placeholder="Combinar más de 8: Letras, números, mayúsculas, minúsculas" aria-placeholder="Contraseña" minlength="8">
                <input class="input" type="password" name="confpass" id="confpass" required placeholder="repetir la contraseña ingresada arriba" aria-placeholder="Confirmar contraseña" minlength="8">
                
                <div class="rowflex">
                    <button class="btn-submit" type="reset">Borrar</button>
                    <button class="btn-submit" type="submit">Enviar</button>
                </div>

            </form>

        </main>
    
        <footer></footer>
    
    </body>
    
</html>