/* ************* Estilos Generales ************** */

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width:100%;
}

h4 {
    text-align: center;
}

p {
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
[class*="col-"] {
    float: left;
    padding: 15px;
}
  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.cuerpo {
    font-size: 12px;
    text-align: justify;
}

.titular {
    font-size: 24px;
    font-weight: bold;
}

.copyright {
    font-size: x-small;
}

/*-----------------------header----------------------- */
header {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #eac926;
    width: 100%;
}

.flex-logoYbusqueda {
    display:flex;
    flex-direction: row;
    vertical-align: middle;
    flex-wrap: nowrap;
    justify-content:space-around;
    height: 100%;
}

.flex-busqueda {
    padding: 21px 261px 21px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    vertical-align: middle;
    width: 50%;
    border: 0px;
}

.compra-en-cuotas {
    font-size: small;
    font-weight: bolder;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5rem;
    background-color: blue;
    padding: 10px 5px 10px 5px;
}

.fa-bars {
    color: white;
}

/*------------------------main------------------------ */
main {
    width: 90vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-self: center;
    background-color: lightgray;
    width:100%;
}

.banner {
    display: block;
    width: auto;
    height: auto;
    justify-self: stretch;
}

section {
    width: 100%;
    padding: 10px 15px 15px 15px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    align-content: space-between;
}

article {
    width: auto;
    margin-bottom: 13px;
    margin-right: 10px;
    border-radius: 7px;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;

}
article:hover {
    width: auto;
    margin-bottom: 13px;
    margin-right: 10px;
    border-radius: 7px;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    box-shadow: -1em 0 0.4em royalblue;
}
.main-section-article:hover p.descripcion {
    opacity: 1;
    font-size: 1.7vw;
    font-weight: bold;
}
.main-section-article:hover .main-section-article-div-i {
    /**************/
    transform: rotate(-90deg);
    color: #39b54a;
    /**************/
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 2vw; /* circulo del camincito */
    height: auto;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 33px;
    top: -15px;
}
.main-section-article-div {
    width: 100%;
    padding: 0px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: stretch; 
}
.main-section-article-div-i {
    display: block;
    color: #39b54a;
    font-size: 16px;
    padding: 4px;
    width: 2vw;
    height: auto;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 33px;
    top: -15px;
    transition: all;
}

.prod-detalle-separador {
    border: 1px solid #ebebeb;
}
.div-prod-detalle {
    margin: 15px;
    padding-top: 15px;
}
.precio {
font-size: 1.5vw;
width: auto;
}   
.descuento {
    font-size: 1.5vw;
    margin-left: 1vw;
    width: auto;
    color: #39b54a;
    font-weight: bold;
}   
.descripcion {
    opacity: 0;
}
 
/*------------------------footer---------------------- */
footer {
    padding: 0px 10px 10px 10px;
    background-color: aliceblue;
    color: black;
    width:auto;
    text-align: center;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.footer-icon:hover {
    display: block;
    color: red; 
}  

/*-------------- Estilos para login.html ------------- */
.btn-submit:hover {
    background-color: #0022AA;
}

.login {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    border: 1px solid rebeccapurple;
    width: 95%;
    padding: 13px 0px 13px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-self: center;
    text-align: left;
    background-color: #eac926;
}

.rowflex {
    border: 1px solid rebeccapurple;
    width: 27vw;
    padding: 7px 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
}

/* ---------- Estilos para registro.html ------------- */
.registro-header {
    display: block;
    width: 100%;
    background-color: lightgray;
}

.registro {
    width: 100%;
    padding: 13px 0px 13px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: left;
    background-color: #eac926;
}

.barra-titulo {
    width: 100%;
    background-color: blue;
    color: white;
}

.div-items {
    display: block;
    padding: 5px;
}

/* ********************* Media Queries ******************** */
@media only screen and (min-width: 361px) {
    /* Tablets */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .flex-fit {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .main-section-article:hover .main-section-article-div-i {
        /**************/
        transform: rotate(-90deg);
        color: #39b54a;
        /**************/
        display: block;
        font-size: 1.5vw;
        padding: 5px;
        width: 2vw; /* circulo del camincito */
        height: auto;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 33px;
        top: -15px;
    }
    .main-section-article-div {
        width: 100%;
        padding: 0px;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        flex-direction: row; 
        justify-content: stretch; 
    }
    .main-section-article-div-i {
        display: block;
        color: #39b54a;
        font-size: 1.5vw;
        padding: 4px;
        width: 2vw;
        height: auto;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 33px;
        top: -15px;
        transition: all;
    }
    .main-section-article:hover p.descripcion {
        opacity: 0;

    }

}

@media only screen and (min-width: 769px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .flex-fit {
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .main-section-article:hover .main-section-article-div-i {
        /**************/
        transform: rotate(-90deg);
        color: #39b54a;
        /**************/
        display: block;
        font-size: 2vw;
        padding: 5px;
        width: 3.3vw; /* circulo del camincito */
        height: auto;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 33px;
        top: -15px;
    }
    .main-section-article-div {
        width: 100%;
        padding: 0px;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        flex-direction: row; 
        justify-content: stretch; 
    }
    .main-section-article-div-i {
        /* width: 100%; */
        display: block;
        color: #39b54a;
        font-size: 2vw;
        padding: 4px;
        width: 3.3vw; /* circulo del camincito */
        height: auto;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 33px;
        top: -15px;
        transition: all;
    }
    .main-section-article:hover p.descripcion {
        opacity: 1;
        font-size: 1.7vw;
        font-weight: bold;
    }

    article:hover {
        width: auto;
        margin-bottom: 13px;
        margin-right: 10px;
        border-radius: 7px;
        background-color: white;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        box-shadow: -1em 0 0.4em royalblue;
    }

}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
/* ****************** Fin Media Queries ******************* */