/* ************* Estilos Generales ************** */

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width:100%;
}

h4 {
    text-align: center;
}

p {
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
[class*="col-"] {
    float: left;
    padding: 15px;
}
  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.cuerpo {
    width: 100%;
    font-size: 2.5vw;
    text-align: center;
}

.titular {
    font-size: 24px;
    font-weight: bold;
}

.copyright {
    font-size: x-small;
}

/*-----------------------header----------------------- */
header {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #eac926;
    width: 100%;
}

.flex-articles {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
}

.flex-logoYbusqueda {
    display:flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
    height: 100%;
}

.flex-busqueda {
    padding: 21px 261px 21px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    vertical-align: middle;
    width: 33%;
    border: 0px;
}

.compra-en-cuotas {
    font-size: small;
    font-weight: bolder;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7vw;
    border-radius: 9px;
    background-color: blue;
    padding: 7px 5px 7px 5px;
    margin: 7px;
}

.fa-bars {
    color: white;
}

/*------------------------main------------------------ */
main {
    width: 90vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-self: center;
    background-color: lightgray;
    width:100%;
}

.banner {
    display: block;
    width: auto;
    height: auto;
    justify-self: stretch;
}

section {
    width: 100%;
    padding: 10px 15px 15px 15px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    align-content: space-between;
}

article {
    width: auto;
    margin-bottom: 13px;
    margin-right: 10px;
    border-radius: 7px;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;

}
article:hover {
    width: auto;
    margin-bottom: 13px;
    margin-right: 10px;
    border-radius: 7px;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    /* box-shadow: -1em 0 0.4em royalblue; */
}
.main-section-article:hover p.descripcion {
    opacity: 1;
    font-size: 1.7vw;
    font-weight: bold;
}

/* ------------------- de carrito verde ------------------- */

.main-section-article:hover .main-section-article-div-i {
    /**************/
    transform: rotate(-90deg);
    color: #39b54a;
    /**************/
    display: block;
    font-size: 4vw;
    padding: 7px;
    width: 7.7vw; /* circulo del camincito */
    height: auto;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 43px;
    top: -5px;
}

.main-section-article-div {
    width: 100%;
    padding: 0px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: stretch; 
}
  
.main-section-article-div-i {
       
    display: block;
    color: #39b54a;
    font-size: 4vw;
    padding: 6px;
    width: 7.7vw;
    height: auto;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 43px;
    top: -5px;
    transition: all;
}

/* ------------------ Fin de carrito verde ------------------- */

.prod-detalle-separador {
    border: 1px solid #ebebeb;
}

.precio {
    font-size: 1.3vw;
    width: auto;
    }  
.descuento {
    font-size: 1.3vw;
    margin-left: 1vw;
    width: auto;
    color: #39b54a;
    font-weight: bold;
}
  
.descripcion {
    opacity: 0;
}
 
/*------------------------footer---------------------- */
footer {
    padding: 0px 10px 10px 10px;
    background-color: aliceblue;
    color: black;
    width:auto;
    text-align: center;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.footer-icon:hover {
    display: block;
    color: red; 
}  

/*-------------- Estilos para login.html ------------- */

.btn-submit:hover {
    color:gold;
    background-color: #0022AA;
    border: 2px solid gold;
    font-size: 1vw;
}

.btn-submit {
    border-color: #0022AA;
    border-radius: 5px;
    width: 7vw;
    margin: 7px;
    color: whitesmoke;
    font-size: 2vw;
    background-color:cornflowerblue;
}

.input {
    border-radius: 5px;
    width: 27vw;
    padding: 7px;
    margin: 5px;
    border-color: #0022AA;
}

.login {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    border: 1px solid #eac926;
    border-radius: 5px;
    width: 50vw;
    margin: 7px;
    margin-bottom: 13px;
    padding: 13px 0px 13px 13px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-self: center;
    text-align: left;
    background-color: #eac926;
}

.rowflex {
    border: 2px solid;
    border-color: #0022AA;
    width: 41vw;
    padding: 7px 13px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

/* ---------- Estilos para registro.html ------------- */
.registro-header {
    display: block;
    width: 100%;
}

.registro {
    width: 100%;
    padding: 13px 0px 13px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: left;
    background-color: #eac926;
}

.barra-titulo {
    width: 100%;
    background-color: blue;
    color: white;
}

/* ********************* Media Queries ******************** */
@media only screen and (min-width: 128px) {

    
    ul {
        display: none;
    }
    
    .grid-container {
        display:inline-block;
    }

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .main-section-article:hover .main-section-article-div-i {
        /**************/
        transform: rotate(-90deg);
        color: #39b54a;
        /**************/
        display: block;
        font-size: 2vw;
        padding: 2px;
        width: 3vw; /* circulo del camincito */
        height: auto;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 33px;
        top: -9px;
    }
    
    .main-section-article-div {
        width: 100%;
        padding: 0px;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        flex-direction: row; 
        justify-content: stretch; 
    }
      
    .main-section-article-div-i {
           
        display: block;
        color: #39b54a;
        font-size: 2vw;
        padding: 2px;
        width: 3vw;
        height: auto;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 33px;
        top: -9px;
        transition: all;
    }
    
    /* ------------------ Fin de carrito verde ------------------- */
    
    .prod-detalle-separador {
        border: 1px solid #ebebeb;
    }
    
    .precio {
        font-size: 1.3vw;
        width: auto;
        }  
    .descuento {
        font-size: 1.3vw;
        margin-left: 1vw;
        width: auto;
        color: #39b54a;
        font-weight: bold;
    }
      
   
.precio {
    font-size: 2.1vw;
    width: auto;
    }  
.descuento {
    font-size: 2.1vw;
    margin-left: 1vw;
    width: auto;
    color: #39b54a;
    font-weight: bold;
}
  
.descripcion {
    opacity: 0;
}
}

@media only screen and (min-width: 361px) {
    /* Mobil */

    ul {
        display: none;
    }

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .flex-fit {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .main-section-article:hover .main-section-article-div-i {
        /**************/
        transform: rotate(-90deg);
        color: #39b54a;
        /**************/
        display: block;
        font-size: 4vw;
        padding: 7px;
        width: 7.5vw; /* circulo del camincito */
        height: auto;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 43px;
        top: -46px;
    }

    .main-section-article-div {
        width: 100%;
        padding: 0px;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        flex-direction: row; 
        justify-content: stretch; 
    }
  
    .main-section-article-div-i {
       
        display: block;
        color: #39b54a;
        font-size: 4vw;
        padding: 6px;
        width: 7.5vw;
        height: auto;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 43px;
        top: -46px;
        transition: all;
    }

    .main-section-article:hover p.descripcion {
        opacity: 0;

    }
    
    .div-prod-detalle {
        margin: 15px;
        padding-top: 15px;
    }
    .precio {
    font-size: 3vw;
    width: auto;
    }  
    .descuento {
        font-size: 3vw;
        margin-left: 1vw;
        width: auto;
        color: #39b54a;
        font-weight: bold;
    }

    .grid-container {
        display:inline-block;
    }

    .input {
        border-radius: 5px;
        width: 51vw;
        padding: 7px;
        margin: 5px;
        border-color: #0022AA;
    }
    
    .btn-submit:hover {
        color:gold;
        background-color: #0022AA;
        border: 2px solid gold;
        font-size: 1vw;
    }

    .btn-submit {
        border-color: #0022AA;
        border-radius: 5px;
        width: 7vw;
        margin: 7px;
        color: whitesmoke;
        font-size: 2.1vw;
        background-color:cornflowerblue;;
    }
    
    .login {
        font-family: 'Roboto', sans-serif;
        font-size: 0.9rem;
        border: 1px solid #eac926;
        border-radius: 5px;
        width: 61vw;
        margin: 7px;
        margin-bottom: 13px;
        padding: 13px 0px 13px 13px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        align-self: center;
        text-align: left;
        background-color: #eac926;
    }

    .rowflex {
        border: 2px solid;
        border-color: #0022AA;
        width: 51vw;
        padding: 7px 13px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
    }
}

@media only screen and (min-width: 769px) {
    /* For desktop */

    
    ul {
        display: block;
    }

    .burger {
        display: none;
    }

    .flex-fit {
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .main-section-article:hover p.descripcion {
        opacity: 1;
        font-size: 1.7vw;
        font-weight: bold;
    }

    article:hover {
        width: auto;
        margin-bottom: 13px;
        margin-right: 10px;
        border-radius: 7px;
        background-color: white;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        box-shadow: -1em 0 0.4em royalblue;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 23vw  23vw 23vw 23vw;
        grid-template-rows: auto auto;
        justify-content: space-between;
        
        /* gap: 0px; */
    }

    .input {
        border-radius: 5px;
        width: 41vw;
        padding: 7px;
        margin: 5px;
        border-color: #0022AA;
    }
    
    .btn-submit:hover {
        color:gold;
        background-color: #0022AA;
        border: 2px solid gold;
        font-size: 1vw;
    }

    .btn-submit {
        border-color: #0022AA;
        border-radius: 5px;
        width: 7vw;
        margin: 7px;
        color: whitesmoke;
        font-size: 1.3vw;
        background-color: cornflowerblue;
    }
    
    .rowflex {
        border: 2px solid;
        border-color: #0022AA;
        width: 41vw;
        padding: 7px 13px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
    }

    .main-section-article:hover .main-section-article-div-i {
        /**************/
        transform: rotate(-90deg);
        color: #39b54a;
        /**************/
        display: block;
        font-size: 2vw;
        padding: 7px;
        width: 3.5vw; /* circulo del camincito */
        height: auto;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 5px;
        top: -47px;
    }

    .main-section-article-div {
        width: 100%;
        padding: 0px;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        flex-direction: row; 
        justify-content: stretch; 
    }
  
    .main-section-article-div-i {
       
        display: block;
        color: #39b54a;
        font-size: 2vw; /* tamaño del camión */
        padding: 6px;
        width: 3.5vw; /* tamaño del círculo */
        height: auto;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 5px;
        top: -47px;
        transition: all;
    }

    .precio {
        font-size: 1.7vw;
        width: auto;
        }  
    .descuento {
        font-size: 1.7vw;
        margin-left: 1vw;
        width: auto;
        color: #39b54a;
        font-weight: bold;
    }

}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
/* ****************** Fin Media Queries ******************* */